.chat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	height: 70px;
	border-bottom: 1px solid rgb(243, 243, 243);
	position: relative;
}

.chat__unread {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	height: 70px;
	border-bottom: 1px solid rgb(243, 243, 243);
	position: relative;
	background-color: rgb(255, 242, 242);
}

.chat__image {
	margin-right: 10px;
}

.chat__details {
	/* To push as much space as it can */
	flex: 1;
	padding: 10px;
}

.chat__details > p {
	color: rgb(52, 153, 248);
}

.chat__timestamp {
	color: lightgrey;
	font-weight: 200;
	padding: 10px;
}

.chat__badge {
	position: absolute;
	top: 15px;
	right: 15px;
}
